@page "/hackatons"



@using CurrieTechnologies.Razor.SweetAlert2
@using Hackatones.Shered.Entities
@using Hackatones.WEB.Repositories
@using Hackatones.WEB.Shared



@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService swal


@if (Hackatons is null)
{
    <div class="spinner" />
}
else

{

    <GeneralList MyList="Hackatons">

        <Body>

            <div class="card">
                <div class="card-header">
                    <span>
                        <i class="oi oi-globe"></i> Hackatones
                        <a class="btn btn-sm btn-primary float-end" href="/hackaton/create"><i class="oi oi-plus"></i> Crear Hackaton</a>
                    </span>
                </div>
                <div class="card-body">
                    <div class="mb-2" style="display: flex; flex-wrap:wrap; align-items: center;">
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Fecha Inicio </th>
                        <th>Fecha Fin </th>
                        <th>Tema principal</th>
                        <th>Organizador</th>
                        <th>Estado</th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var hackaton in Hackatons!)
                    {
                        <tr>
                            <td>@hackaton.Name</td>
                            <td>@hackaton.StartDate</td>
                            <td>@hackaton.EndDate</td>
                            <td>@hackaton.MainTopic</td>
                            <td>@hackaton.Organizer</td>
                            <td>@hackaton.Status</td>


                            <td>

                                <a href="/hackaton/edit/@hackaton.Id" class="btn btn-warning btn-sm"><i class="oi oi-pencil" /> Editar</a>
                                <button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsync(hackaton))><i class="oi oi-trash" /> Borrar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </Body>
    </GeneralList>
}

@code {
    public List<Hackaton> Hackatons { get; set; }

    protected async override Task OnInitializedAsync()

    {
        await Load();
    }

    private async Task Load()
    {
        var responseHTTP = await repository.GetAsync<List<Hackaton>>("/api/hackaton");
        Hackatons = responseHTTP.Response!;
    }

    private async Task DeleteAsync(Hackaton Hackaton)
    {
        var result = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Esta seguro que quieres borrar el registro?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        var confirm = string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            return;
        }

        var responseHTTP = await repository.DeleteAsync($"api/hackaton/{Hackaton.Id}");


        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/");
            }
            else
            {
                var mensajeError = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            await Load();
        }
    }


}
